@import url(https://db.onlinewebfonts.com/c/f21923cb0f60b46d41a66875255790b3?family=Neue+Haas+Grotesk+Display+Pro+65+Medium); 
@import url(https://db.onlinewebfonts.com/c/6e47ef470dd19698c911332a9b4d1cf4?family=Neue+Haas+Grotesk+Text+Pro); 

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF7E8;
    overflow: hidden;
    font-family: "Neue Haas Grotesk Text Pro", sans-serif; 
    text-align: center;
}

.vignette-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.vignette-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('vignette_overlay.png') no-repeat;
    background-size: 100% 100%; 
    pointer-events: none;
    z-index: 10;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    max-width: 800px;
    z-index: 20;
}

.responsive-logo {
    width: 50%; 
    max-width: 600px; 
    min-width: 200px;
    height: auto;
    display: inline-block;
    border: none;
    margin-bottom: 1.5em;
}

.description-text {
    margin-bottom: 2em;
    font-size: 1.1em;
    color: #444;
}

.launchButton {
    border: none;
    border-radius: 0.5em;
    background-color: #FFBF00;
    color: white;
    font-size: 2.5em;
    padding: 0.15em 0.6em 0.2em;
    font-family: "Neue Haas Grotesk Display Pro 65 Medium";;
    display: inline-block;
    max-width: 90%;
    box-shadow: 0px 0px 1.0em 0px rgba(153,104,0,1);
}

.btn-warning {
    background-color: #FFBF00 !important;
    font-size: 1em;
}
