@import url(https://db.onlinewebfonts.com/c/6e47ef470dd19698c911332a9b4d1cf4?family=Neue+Haas+Grotesk+Text+Pro); 

body {

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF7E8;
    overflow: hidden;
    position: relative; /* Necessary for absolute centering */

    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.vignette-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.vignette-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* Your transparent PNG */
  background: url('vignette_overlay.png') no-repeat center center;
  background-size: cover;
  
  /* Crucial: allows clicking through the image */
  pointer-events: none;
  
  z-index: 10;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    /* This centers the container by shifting it back by half its own width/height */
    /* Note: Wii U supports 2D transforms, which is a lifesaver here */
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    text-align: center;
    width: 100%;
}

.responsive-logo {
    /* Fallback for browsers that don't understand media queries well */
    width: 50%; 
    
    /* Wii U ignores clamp, so we use a simple percentage. 
       If you need a max-width, the Wii U DOES support max-width in pixels. */
    max-width: 600px; 
    min-width: 200px;
    
    height: auto;
    display: inline-block;
    border: none;
}

#credits {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    flex-wrap: wrap;
    font-family: "Neue Haas Grotesk Text Pro"; 
}

#credits div {
    padding: 0 1.2em;
}

.headerContainer {
    text-align:center;
    margin: 1em;
}
.headerContainer img {
    width: 200px;
    vertical-align: middle;
    margin-right: .3em;
}
.headerContainer h2 {
    display: inline;
    vertical-align: middle;
}

.launchButton {
    border: none;
    border-radius: .5em;
    background-color: #04AA6D;
    color: white;
    font-size: 1em;
    padding: 1em 2em;
    cursor: pointer;
    font-family: "Neue Haas Grotesk Text Pro"; 
}

.compatWarning {
    background-color: orange;
    margin: 1em 0;
    padding: .625em 1em;
    border-radius: 1.5em;
    font-family: "Neue Haas Grotesk Text Pro"; 
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 33%;
    padding: .2em 2em;
}
