body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
}

.responsive-logo {
    width: clamp(200px, 60vmin, 1200px);
    
    height: auto; /* Maintains original aspect ratio */
    display: block;
}
